.home-page-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    min-height: 80vh;
    width: 70%;
    margin: 15px 0 15px 0;
    padding: 25px 0 25px 0;
    border-radius: 1rem;
    background-color: var(--paragraph);
    color: var(--background);

    h1 {
        align-self: flex-start;
        margin: 25px 0 1rem 3.5rem;
    }

    .top-products-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 70vh;
        width: 97%;
        border-radius: 1rem;

        h2 {
            align-self: flex-start;
            margin: 1rem 0 1rem 3.5rem;
            font-size: xx-large;
        }

        .cards-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .product-cards {
                display: flex;
                flex-wrap: wrap;
                width: 1152px;
            }
        }
    }
}