.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 23rem;
    padding-right: 23rem;
    height: 65px;
    min-height: 65px;
    background-color: var(--tertiary);

    .nav-bar-left-container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 60%;

        .search-bar {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 100%;
            margin: 0px 25px 0px 10px;

            .search-bar-form {
                display: flex;

                input {
                    width: 300px;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                    padding: 2px 10px 2px 10px;
                }
                
                .search-bar-button {
                    border: none;
                    margin-left: 15px;
                    padding: 0px;
                    
                    .search-bar-button-icon {
                        background-color: var(--background);
                        border: none;
                        border-radius: 5px;
                        padding: 7px;
                        height: 21px;
                        width: 21px;
                        cursor: pointer;
                    }
                }

                .search-bar-button:hover {
                    background-color: none;
                    border: none;
                }
            }
        }
        
        #cart-icon {
            position: relative;
            display: flex;
            align-items: center;
            min-width: 25px;
            padding: 5px;

            .nav-bar-cart-icon {
                margin: 0px;
                height: 25px;
                width: 25px;
            }

            .number-of-cart-items {
                position: absolute;
                top: 16px;
                right: -5px;
                margin: 0px;
                padding: 4px;
                background-color: var(--background);
                color: var(--button);
                min-width: 9px;
                height: 9px;
                border-radius: 100%;
                border: 2px solid var(--tertiary);
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    .nav-bar-right-container {
        display: flex;
        align-items: center;
        height: 100%;

        .nav-bar-account-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .nav-bar-account-container:hover {
            background-color: var(--stroke);
            transition: 0.3s;

            a, p {
                color: var(--headline);
            }
        }

        .nav-bar-logged-in-container {
            display: flex;
            align-items: center;
            height: 100%;

            .nav-bar-account-container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 65px;

            
                .nav-bar-account-dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: none;
    
                    
                    .nav-bar-dropdown-button {
                        height: 45px;
                        cursor: pointer;
    
                        p {
                            margin: 0px;
                        }
                    }
    
                    .nav-bar-dropdown-button:hover {
                        background-color: var(--tertiary);
                        
                        a, p {
                            color: var(--stroke);
                        }
                    }
                }
            }

            .nav-bar-account-container:hover .nav-bar-account-dropdown {
                display: flex;
                flex-direction: column;
                background-color: var(--stroke);
            }
        }

        .nav-bar-not-logged-in-container {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.nav-bar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.nav-bar-button:hover {
    background-color: var(--stroke);
    transition: 0.3s;

    a, p {
        color: var(--headline);
    }
}

a, p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    min-width: 75px;
    padding: 0px 10px 0px 10px;
    color: var(--button-text);
}

a.active {
    text-decoration: underline;
    text-decoration-color: var(--stroke);
    text-decoration-thickness: 5px;
    text-underline-offset: 21px;
}