.order-history-page-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    min-height: 40vh;
    width: 70%;
    margin: 15px 0 15px 0;
    padding: 10px 0 25px 0;
    border-radius: 1rem;
    background-color: var(--paragraph);
    color: var(--background);

    :is(.order-history-page-upcoming-orders-section, .order-history-page-completed-orders-section) {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        justify-content: center;
        background-color: var(--headline);
        border-radius: 5px;
        box-shadow: 0px 0px 10px var(--card-highlight);
        width: 95%;
    }

    :is(.order-history-page-upcoming-orders-section, .order-history-page-completed-orders-section) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 20vh;
        margin-top: 25px;

        h1 {
            margin: 15px 0px 10px 25px;
            padding: 5px;
        }
    }
    
    :is(.order-history-page-upcoming-orders-empty-content, .order-history-page-completed-orders-empty-content) {
        align-self: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .order-history-page-completed-orders-section {
        margin-bottom: 20px;
    }
}