.order-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--card-highlight);
    border: 2px solid var(--background);
    margin: 15px 0px 25px 0px;
    width: 92%;

    :is(.order-card-top-section, .order-card-status-section) {
        display: flex;
        flex-direction: row;
    }
    
    .order-card-order-details {
        margin: 0px 0px 25px 0px;
        width: 100%;

        :is(.order-card-order-details-header-section, .order-card-order-details-value-section) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            span {
                font-weight: 600;
            }

            #order {
                flex: 1;
            }

            #order-date {
                flex: 2;
            }

            #payment-method {
                flex: 2;
            }

            #delivery-status {
                flex: 2;
            }

            #total {
                flex: 1;
            }
        }
    }

    .order-card-order-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: -10px 0px 10px 0px;
        width: 100%;

        .order-card-order-items-header {
            margin: 15px 0 15px 25px;
        }

        .order-card-order-items-section-headers p {
            font-size: 18px;
            font-weight: 700;
            margin: 10px 0 10px 0;
        }

        :is(.order-card-order-items-section-headers, .order-card-order-item) {
            display: flex;
            width: 100%;

            :is(.order-card-order-items-section-header-quantity, .order-card-order-items-section-header-subtotal, .order-card-order-item-quantity, .order-card-order-item-subtotal) {
                flex: 1;
            }

            :is(.order-card-order-items-section-header-product-name, .order-card-order-item-product-name) {
                flex: 6;
                display: flex;
                justify-content: left;
            }
        }
    }
}

.order-card.collapsed {
    min-height: 110px;
    max-height: 110px;
    transition: min-height 0.3s ease, max-height 0.3s ease;
}

.order-card.expanded {
    min-height: 150px;
    max-height: 1000px;
    transition: min-height 0.3s ease, max-height 0.3s ease;
}

.order-card:hover {
    background-color: var(--card-highlight);
    cursor: pointer;
    transform: scale(1.01);
}