.product-page-content {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    width: 60%;
    min-width: 750px;
    margin-top: 15px;
    padding-top: 25px;
    border-radius: 1rem;
    background-color: var(--paragraph);
    color: var(--background);

    .product-page-image-section {
        min-width: 350px;
        margin: 20px 10px 0px 10px;

        img {
            border-color: black;
            border-style: solid;
            height: 300px;
            width: 300px;
        }
    }

    .product-page-detail-section {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 320px;
        margin: 10px 35px 0px 0px;

        .product-page-product-name {
            text-align: left;
            margin: 0px;
        }

        .product-page-price {
            margin: 50px 0px 20px 0px;
        }

        .product-page-quantity {
            display: flex;
            align-items: center;
            justify-content: center;

            .product-page-quantity-header {
                margin-right: 20px;
            }

            button {
                background-color: var(--button);
                border: 2px solid var(--background);
                border-radius: 5px;
                min-width: 20px;
            }

            button:hover {
                background-color: var(--button-text);
                color: var(--button);
            }

            .product-page-quantity-value {
                margin: 0px 10px 2px 10px;
                font-weight: 600;
            }
            .product-page-stock-quantity-value {
                margin-left: 20px;
                font-weight: 600;
            }
        }

        .product-page-detail-section-buttons {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
            margin: 30px 0px 0px 0px;

            button {
                background-color: var(--button);
                color: var(--button-text);
                font-size: 14px;
                font-weight: bold;
                border: 2px solid var(--background);
                border-radius: 5px;
                height: 40px;
                width: 125px;
            }
    
            button:hover {
                background-color: var(--button-text);
                color: var(--button);
            }
        }
    }
}