.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-background);
    margin: 1rem;
    border-radius: 5px;
    border: 3px solid yellow;
    padding: 0px;
    height: auto;
    width: 250px;
    box-shadow: 0px 0px 25px var(--card-highlight);

    .product-card-image {
        margin-top: 1rem;
    }
    
    h3 {
        display: flex;
        text-align: left;
        margin: 10px;
        padding: 3px 3px 3px 0px;
        border-radius: 2.5px;
        height: 50px;
        width: 85%;
        color: var(--card-headline);
    }

    .product-card-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;

        p {
            font-weight: 600;
            padding: 0px;
            color: var(--card-paragraph);
        }

        .product-card-price {
            justify-content: flex-start;
        }
    }
}

.product-card:hover {
    background-color: var(--button);
    border-color: orange;
    transition: 0.3s;
    transform: scale(1.03);
}