.shipping-address-modal[open] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--background);
    border-radius: 5px;
    height: auto;
    width: 350px;
    background-color: var(--paragraph);
    color: var(--background);
    margin: 0px;
    padding: 0px;

    .shipping-address-modal-close-button {
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        height: auto;
        min-width: auto;
        margin: 5px 8px 0px 0px;
        padding: 0px;
        font-size: 18px;
        cursor: pointer;
    }

    :is(.shipping-address-modal-after-update, .shipping-address-modal-before-update) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shipping-address-modal-after-update {
        .shipping-address-modal-success-message {
            margin: 0px 0px 50px 0px;
        }
    }

    .shipping-address-modal-before-update {
        .shipping-address-modal-header {
            margin: 15px 0px 15px 10px;
        }

        .shipping-address-modal-form {
            display: flex;
            flex-direction: column;
            
            input {
                margin: 5px 0px 5px 0px;
                height: 20px;
                width: 200px;
                padding: 5px 5px 5px 7px;
                border-radius: 5px;
                border: none;
            }
            
            .shipping-address-modal-submit-button {
                margin: 10px 0px 25px 0px;
            }
        }
    }
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }